@inherits DotNetNuke.Web.Mvc.Framework.DnnWebViewPage<IEnumerable<XpressKuponXpressKupon.Models.Item>>

@using System.Text.RegularExpressions
@using DotNetNuke.Web.Mvc.Helpers


<div id="Items-@Dnn.ModuleContext.ModuleId">
    @if (Model.Count() == 0 && Dnn.User.IsSuperUser)
    {
        <div class="alert alert-primary" style="display:flex;justify-content:center;align-items:center;gap:1rem;" role="alert">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="Warning:">
                <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
            </svg>
            <div>
                No Gift cards found.
            </div>
        </div>

    }
    else
    {
<table class="table">
    @*@if (Dnn.User.DisplayName == null)
        {
            <div class="alert alert-primary d-flex align-items-center" role="alert">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="Warning:">
                    <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                </svg>
                <div>
                    Jelentkezz be, hogy lásd a kuponjaid!
                </div>
            </div>
            return;
        }*@
    @if (Model.Count() != 0)
    {

        <thead>
            <tr>
                @if (Dnn.User.IsSuperUser)
                {
                    <th scope="col">GiftCardId</th>
                    <th scope="col">RecipientEmail</th>
                    <th scope="col">RecipientName</th>
                    <th scope="col">Enabled</th>
                }
                @*<th scope="col">LineItemId</th>*@
                <th scope="col">Beváltó kód</th>
                <th scope="col">Összeg</th>
                <th scope="col">Felhasznált összeg</th>
                <th scope="col">Létrehozás dátuma</th>
                <th scope="col">Lejári dátum</th>
            </tr>
        </thead>
    }
    
    <tbody>
        @foreach (var item in Model)
        {
            
            var usedClass = item.UsedAmount == item.Amount ? "usedAll" : "notUsedAll";
            
            if (Dnn.User.Email == item.RecipientEmail || Dnn.User.IsSuperUser)
            {
                <tr class="@usedClass">
                    @if (Dnn.User.IsSuperUser)
                    {
                        <th scope="row">@item.GiftCardId</th>
                        <td>@item.RecipientEmail</td>
                        <td>@item.RecipientName</td>
                        <td>@item.Enabled</td>
                    }
                    @*<td>@item.LineItemId</td>*@
                    <td>@item.CardNumber</td>
                    <td>@item.Amount</td>
                    <td>@item.UsedAmount</td>
                    <td>@item.IssueDateUtc</td>
                    <td>@item.ExpirationDateUtc</td>
                    @if (Dnn.User.IsSuperUser)
                    {
                        <td><a class="btn btn-success" href="@Url.Action("Edit", "Item", new {ctl = "Edit", itemId = item.GiftCardId})">@Dnn.LocalizeString("EditItem")</a></td>
                        <td><a class="btn btn-danger" href="@Url.Action("Delete", "Item", new {itemId = item.GiftCardId})">@Dnn.LocalizeString("DeleteItem")</a></td>
                    }
                </tr>
            }
            @*else
            {
                <div class="alert alert-primary" style="display:flex;justify-content:center;align-items:center;gap:1rem;" role="alert">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="Warning:">
                        <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                    </svg>
                    <div>
                        Kedves @Dnn.User.DisplayName, nincsenek XpressKuponjaid.
                    </div>
                </div>
                break;
            }*@
        }
    </tbody>
</table>
    }
</div>